<div ng-show="answers.length > 0">
    <button ng-click="reconsult()" class="btn btn-success btn-answer">Reconsulta</button>
    <br>
    <div class="alert alert-success">
        <h3>Rezultate</h3>
    </div>
    <span ng-repeat="answer in answers">
        <hr>
        <h4>{{answer.sugestion}}</h4>
        <img ng-src="{{answer.image}}">
    </span>
</div>
<div ng-show="answers.length == 0">
    <button ng-click="reconsult()" class="btn btn-danger btn-answer">Reconsulta</button>
    <br>
    <div class="alert alert-danger">
        <h3>Din pacate nu am gasit nici o solutie !</h3>
    </div>
</div>
<div class="bottom">
    <br>
</div>